<ul>
    <% @unlocks.each do |u| %>
        <li>
       	<%= link_to u.achievement do %>
            <%= u.achievement.name %>
        <% end -%> was achieved by: 
        <%= link_to nick(u.cid), user_path(u) %>
        <%= u.created_at.in_time_zone("Stockholm").to_s(:short) %></li>
    <% end -%>
</ul>
