<div class="achievement">
    <div class="image-container">
        <%= image_tag achievement.icon unless achievement.icon.empty? %>
    </div>
    <div class="name-container">
        <%= achievement.name %>
    </div>
</div>
